body {
  background-color: rgb(249, 247, 254);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

header {
  border-bottom: 2px solid rgb(249, 247, 254);
  padding: 10px;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px;
  width: 600px;
  margin: 30px auto;
  padding: 30px;
}

.searched-city {
  color: black;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.search-bar {
  background-color: rgb(249, 247, 254);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 15px;
  width: 80%;
}
.search-bar-button {
  background: rgb(136, 93, 241);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  padding: 15px 20px;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
  font-size: 14px;
  border-top: 2px solid rgb(249, 247, 254);
  padding: 10px;
}
a {
  color: rgb(136, 93, 241);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-details strong {
  color: rgb(246, 82, 130);
}
.temperature-details {
  display: flex;
}
.icon {
  font-size: 88px;
  height: 88px;
}
.temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}
.unit {
  margin-top: 16px;
  font-size: 28px;
}
.weather-forecast {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.weather-forecast-day {
  width: 100%;
  font-size: 15px;
  justify-content: center;
}
.weather-forecast-date {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.weather-forecast-icon {
  font-size: 35px;
  text-align: center;
}
.weather-forecast-temperatures {
  color: rgb(246, 82, 130);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  font-size: 12px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.weather-forecast-temperature strong {
  font-size: 15px;
}
@media (max-width: 900px) {
    main {
        width: 95%;
    }
}